<div *ngIf="appState == 'default'">
  <h2>Add tasks: </h2>
  <form (submit)="addTask()">
    <input class="form-control" type="text" name="text" [(ngModel)]="text">
  </form>
</div>

<div *ngIf="appState == 'edit'">
  <h2>Edit tasks: </h2>
  <form (submit)="updateTask()">
    <input class="form-control" type="text" name="text" [(ngModel)]="text">
  </form>
</div>
<br />
<h2>To-do list: </h2>
<ul class="list-group">
  <li class="list-group-item" *ngFor="let todo of todos" >
    <span (click)="editTask(todo)">{{todo.text}}</span>     <button class="btn btn-danger btn-sm" (click)="deleteTask(todo.text)">X</button>
  </li>
</ul>
